@import "tailwindcss";
@custom-variant hover (&:hover);
@custom-variant focus (&:focus);

@theme {
  --font-sans: "MuseoModerno", sans-serif;
  --color-primary: #2f65c8;
  --color-tertiary: #fffaee;
  --color-accent: #ffbb00;
  --color-neutral: #a51c30;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: --font-sans;
}
